{% extends 'base.html' %}
{% block title %}Delete Course{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h4>Delete Course</h4>
            <p>Are you sure you want to delete <strong>{{ course.name }}</strong>? This will also delete all related quizzes.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'course_list' %}" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
