{% extends 'base.html' %}
{% block title %}Delete Question{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h4>Delete Question</h4>
            <p>Are you sure you want to delete this question?</p>
            <p class="text-muted">"{{ question.text }}"</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'question_list' question.quiz.id %}" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
